#root {
  max-width: 1280px;
}
.projectsList{
  display: flex;
  flex-flow: wrap;
}
.card, .addButton{
  margin: 0 1em 1em 0;
  width: 150px;
  height: 150px;
  border: #fff 1px solid;
  overflow: hidden;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconBTN{
  margin-right: 1em;
}

.projectDetails{
  margin-top: 2em;
}